/*style for the about page*/

.background {
    background-color: yellow;
}

@media (min-width: 320px) and (max-width: 480px) {

    #aboutPara {
        background-color:white;
        width: 300px;
        margin: 0 auto;
        position: relative;
        top: 30px;
    }

    #howWorksPara {
        background-color:white;
        width: 300px;
        margin: 0 auto;
        position: relative;
        top: 20px;
        margin-top: 20px;
    }

    #aboutUs {
        font-size:40px;
        margin: 20px;
        position: relative;
        top: 40px;
    }

    #howWorks {
        font-size:30px;
        margin: 20px;
        position: relative;
        top: 20px;
    }

}

@media (min-width: 481px) and (max-width: 900px) {

    #aboutPara {
        background-color:white;
        width: 700px;
        margin: 0 auto;
        font-size:20px;
        position: relative;
        top: 60px;
    }

    #howWorksPara {
        background-color:white;
        width: 700px;
        margin: 0 auto;
        font-size:20px;
        position: relative;
        top: 60px;
    }

    #aboutUs {
        font-size:50px;
        margin: 20px;
        position: relative;
        top: 60px;
    }

    #howWorks {
        font-size:50px;
        margin: 20px;
        position: relative;
        top: 60px;
    }

}

@media (min-width: 1200px) {

    #aboutPara {
        background-color:white;
        width: 600px;
        margin: 0 auto;
        position: relative;
        top: 60px;
    }

    #howWorksPara {
        background-color:white;
        width: 600px;
        margin: 0 auto;
        position: relative;
        top: 60px;
    }

    #aboutUs {
        font-size:55px;
        margin: 20px;
        position: relative;
        top: 60px;
    }

    #howWorks {
        font-size:40px;
        margin: 25px;
        position: relative;
        top: 60px;
    }

}



/*</style>*/