/*Style for the index/search page */

.title {
    position: relative;
    bottom: 50px;

}

body {
    background: url(../imgs/sky3.jpg) no-repeat;
    min-height:100%;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
}


.search-box {
    position: absolute;
    top: 45%;
    left: 50%;
    background: black;
    height: 60px;
    width: 500px;
    transform:translate(-50%, -50%);
    border-radius: 40px;
    padding: 10px;
}

.search-btn {
    color: #bf8040;
    float: right;
    width: 40px;
    height: 40px;
    left: 2px;
    position: relative;
    border-radius: 50%;
    background: midnightblue;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 35px;
    width: 425px;
}

@media (min-width: 320px) and (max-width: 480px) {

    img {
        max-width: 100%;
        height: auto;
    }

    .search-box {
        position: absolute;
        top: 50%;
        left: 50%;
        background: black;
        height: 60px;
        width: 350px;
        transform:translate(-50%, -50%);
        border-radius: 40px;
        padding: 10px;
    }

    .search-btn {
        color: #bf8040;
        float: right;
        width: 40px;
        height: 40px;
        left: 2px;
        bottom: 0px;
        position: relative;
        border-radius: 50%;
        background: midnightblue;
    }

    .search-txt {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 35px;
        width: 285px;
    }


}