

    /*<style>*/
/*.background {*/
/*    !*background-color: deepskyblue;*!*/
/*    background-image: url(tyretownimage.jpg) no-repeat;*/
/*    min-height:100%;*/
/*    background-attachment: fixed;*/
/*    background-size: cover;*/
/*    -moz-background-size: cover;*/
/*}*/
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.collapsible {
    background-color: #cc6600;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 2px solid white;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
}

.active, .collapsible:hover {
    background-color: white;
    color: #cc6600;
}

/* Style the collapsible content.*/
.content {
    padding: 0 18px;
    background-color: lightgrey;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    border-radius: 30px;

}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 30px;
    color: white;
    float: right;
    margin-left: 5px;
    border-radius: 20px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */

}

.footer{
    width: 100%;
    background-color: grey;
    color: #e84118;
    text-align: center;

}

/*</style>*/

