/*Style for invoice result page */

body {
    background: url(../imgs/tyretownimage.jpg) no-repeat;
    min-height:100%;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
}


.results {
    width: 100%;
    padding : 50px;
    text-align: center;
    background-color: #2f3640;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #cc6600;
    top:60px;
}

#customerInfo {
    width: 100%;
    padding : 50px 0;
    text-align: center;
    background-color: #2f3640;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #cc6600;
}

.search-box {
    top: 50px;
}

.search-btn {
    color: #bf8040;
    width: 40px;
    height: 40px;
    left: 2px;
    position: relative;
    border-radius: 50%;
    background: #2f3640;
    border: 1px solid #2f3640;
}

.search-txt {
    border: none;
    background: #2f3640;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 50px;
    width: 400px;
    border-radius: 50px;
}

.customerButton{
    text-align: center;
    margin: 0 auto;
    bottom: 30px;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.errorMsg{
   color: red;
}

.errorInvoice{
    color: white;
}

#header {
    position: relative;
    top:20px;
}

